
@import 'common';
// layout.scss레이아웃 
$ani_time:0.3s;
$box_center:0 auto;

// header
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  z-index: 1000;
  transition: $ani_time;
  >h1{
    padding: 24px 0px 0px 2%;
  }
  >.nav_icon{
    position: absolute; 
    width: 40px;
    top: 24px; 
   
  }
  >.nav_icon span:last-child{
      font-size: 0;
    }

  >.nav_icon span.fas{
    font-size: $t_size_m;
    color: $txt_color2;
    cursor: pointer;
  }
  >.icon1{
    right:3.5%;
  }
  >.icon2{
    right: 1%;
  }
}
// 메인 메뉴 서식
header nav{
  width: 600px;
  margin:-24px auto;

}
header nav .gnb{
  display: flex;
  justify-content: space-around;

}
header nav .gnb a{
  color: $txt_color2;
  font-size: $t_size_m;
}
header nav .gnb a:hover{
  text-decoration: underline;
}


footer{
  background: $bg_color_g;
  height: 177px;
}