@import 'common';
// layout.scss레이아웃 
$ani_time: 0.3s;
$box_center: 0 auto;

// html,body{
//  scroll-behavior: smooth;
// }
// header
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  z-index: 1000;
  transition: $ani_time;

  >h1 {
    padding: 24px 0px 0px 2%;
  }

  >.nav_icon {
    position: absolute;
    width: 40px;
    top: 24px;

  }

  >.nav_icon span:last-child {
    font-size: 0;
  }

  >.nav_icon span.fas {
    font-size: $t_size_m;
    color: $txt_color2;
    cursor: pointer;
  }

  >.icon1 {
    right: 3.5%;
  }

  >.icon2 {
    right: 1%;
  }
}

// 메인 메뉴 서식
header nav {
  width: 600px;
  margin: -24px auto;

}

header nav .gnb {
  display: flex;
  justify-content: space-around;

}

header nav .gnb a {
  color: $txt_color2;
  font-size: $t_size_m;
}

header nav .gnb a:hover {
  text-decoration: underline;
}

// 오른쪽 인디케이터(내비게이션)
#m_nav {
  position: fixed;
  right: 2%;
  top: 50%;
  z-index: 1000;
  transform: translateY(-50%);
  width: 200px;
  height: 160px;

  >ul {
    position: relative;

    >li {
      position: absolute;
      right: 0px;
      width: 30px;
      height: 30px;
      border-radius: 40px;
      transition:.5s;
      line-height: 30px;
      overflow: hidden;
     
    }


    >li:nth-child(2) {
      top: 40px;
    }

    >li:nth-child(3) {
      top: 80px;
    }

    >li:nth-child(4) {
      top: 120px;
    }

    >li:last-child {
      top: 160px;
    }

    span {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(0, 179, 255, .6);
      color: $txt_color2;
      text-align: center;
      font-weight: bold;
      transition: 0.3s;

      // 스팬에 마우스 오버시 $nav_color01적용
      &:hover {
        background: $nav_color02;
      }
    }
    a {
      color: $txt_color2;
      display: inline-block;
      width: 200px;
      text-align: center;
      position: absolute;
      top: 0px;     
    }
    //내비게이션에 마우스 오버시 li태그에 적용할 배경 서식

  }
  .m_nav_on {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
  // 마우스 오버시 li태그에 적용할 배경 서식
  .m_nav_on{
    width: 200px !important;
    background: rgba(0 ,0,0,0.8) !important;
  }

}






// 푸터 서식
footer {
  background: $bg_color_g;
  // height: 177px;
  padding: 40px 0px;

  >.f_inner {
    width: 1200px;
    margin: $box_center;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-content: flex-end;

  }

  >h2 {
    padding-top: 10px;
    width: 150px;
  }

  .f_lnb {}

  .f_lnb>ul {
    display: flex;
    padding-top: 5px;
  }

  .f_lnb>ul a {
    color: $line_color_g;
    padding: 0px 20px;
    border-right: 1px solid $line_color_g ;

  }

  .f_lnb>ul a {
    &:hover {
      text-decoration: underline;
    }
  }


  .f_lnb>ul li:last-child>a {
    border-right: none;
  }

  .f_lnb>ul li:nth-child(2) a {
    color: $txt_color2;
  }

  address {
    line-height: 30px;
    text-transform: uppercase;
    color: $line_color_g;
    padding-left: 170px;
  }

  address dt,
  address dd {
    display: inline-block;
    margin-right: 5px;
  }

  address dd {
    margin-right: 20px;
  }
}