@charset "UTF-8";

@use 'common' as *;


// 마진값 설정
$m_value: 80px;

main {
  overflow: hidden;
  clear: both; // 헤더 영역에서 혹시 사용된 float속성이 있다면, 해제 한다. 

  >#movie {
    height: 100vh;
    background: $line_color_g;

    >video {
      width: 100%;
    }

  }


  // #intro {
  //   // height: 923px;
  //   background: #e9cc58;
  // }


  #event {
    height: 600px;
    // background: #19dbc1;
  }

  #movie {
   
    height: 100vh;
    background: $line_color_g;
    overflow: hidden;

    .m_info {
      position: absolute;
      width: 100%;
      top: 46%;
      text-align: center;
      color: $txt_color2;
      z-index: 100;

      >h2 {
        font-size: 60px;
        text-transform: uppercase;
        font-weight: bold;
      }

      >p {
        line-height: 80px;
        font-size: $t_size_m;
      }

      a {
        color: $txt_color2;
        font-size: 14px;
        text-decoration: underline;
        margin: 0px 20px;
        padding: 5px 10px;
      }

      /* 첫번째 메뉴 서식 배경색 적용 */
      a:first-of-type {
        background: $nav_color02;
      }

    }

    // 무비에서 다음페이지로 이동 버튼
    @mixin arrow_btn {

      border-left: 1px solid $txt_color2;
      border-bottom: 1px solid $txt_color2;
      transform: rotate(-45deg);
      width: 40px;
      height: 40px;
    }
    #next_btn {
      display: inline-block;
      // text-indent: -9999px;
      font-size: 0;
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translate(-50%, -50%);
      @include arrow_btn();

    }
  }

  /* movie 끝 */

  // 콘텐츠 제목서식
  @mixin m_title {

    font-size: $t_size_t3;
    text-align: center;
    font-weight: bold;
    padding: $m_value 0px 10px 0px;
  }

  @mixin btn() {
    border: 1px solid $txt_color1;
    background: $txt_color2;
    padding: 8px 26px;
  }

  /* 두번째 컨텐츠 top3 시작 */
  //  top3, intro, test_drive, event, buy
  .m_title {
    margin: $m_value 0px 0px 0px;
    @include m_title();
  }


  .btn {
    @include btn;
    cursor: pointer;
  }

  // 2. top3 가장 많이 찾는 캐스퍼 
  #top3 {
    text-align: center;

    >.p01 {
      font-size: $t_size_m;
      line-height: 50px;
    }

    // 슬라이드 서식
    .top3 {
      position: relative;
      margin-top: 50px;
      padding: 20px 0px 50px 0px;
      margin-bottom: 40px;

      >.swiper-wrapper {
        width: 100%;
        height: 100%;

        .rank {
          color: #327186;
          border: 1px solid #327186;
          padding: 6px 30px;
          border-radius: 20px;
          font-size: $t_size_ss;
        }

        .top3_title {
          font-size: $t_size_t1;
          font-weight: 500;
          padding-top: 30px;
          color: $txt_color5;
        }

        // 자동차 사진
        img {
          width: 400px;
          padding: $m_value 0px;
          /*시간속성을 넣어줌(역동적인 느낌)*/
          transition: 0.8s;
          transition-timing-function: cubic-bezier(0.1, 1.0);
          transform: scale(0.7);
        }

        /*이미지 멈출때 크기 확장하기*/
        .swiper-slide-active img {
          transform: scale(1.2);
        }
      }
    }
  }

  //  슬라이드 상세
  .detail {
    // border: 1px solid #f00;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;

    >li {
      width: 190px;
      padding-left: 0px 20px;
      text-align: left;
      line-height: 20px;
      font-size: $t_size_m;
      border-right: 1px solid $line_color_g;
    }

    >li:last-child {
      border: none;
      padding-top: 6px;
    }

    .price {
      font-size: $t_size_t1;
      font-weight: bold;
      color: $txt_color5;
    }
  }


  // 색상 박스 
  .outer_color,
  .inner_color {
    // display: inline-block;
    display: inline;
    width: 56px;
    height: 40px;
    text-indent: -99999px;
    margin-right: 10px;
    float: left;
  }

  .kaki {
    background: #494b3e;
  }

  .black {
    background: #000;
  }

  .white {
    background: #fff;
    border: 1px solid #ccc;
  }

  .orage {
    background: rgb(190, 86, 0);
  }
}



// 스와이퍼 슬라이드 콘트롤 버튼 서식
#top3 .swiper-pagination-bullet {
  width: 60px !important;
  height: 8px !important;
  background: $txt_color4 !important;
  border-radius: 0px !important;
  margin: 0 5px !important;

}

#top3 .swiper-button-next,
#top3 .swiper-button-prev {
  color: $txt_color3;
}

// 2. top3 가장 많이 찾는 캐스퍼 서식 끝

// 3. intro 소개 페이지 서식 시작
#intro {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#intro .btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);

}

#intro h2 {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: -100px;
}

.intro_title_left,
.intro_title_right {
  position: absolute;
  z-index: 100;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

.intro_title_left {
  top: 200px;
  // left: 130px;
  left: -250px;
}


.intro_title_right {
  bottom: 100px;
  // right: 150px;
  right: -250px;
  text-align: right;
}

#intro video {
  position: relative;
  width: 100%;
}

// 4. 시승신청하기 (체험하기
#test_drive {
  text-align: center;

  .p01 {
    font-size: $t_size_ss;
  }

  >article {
    // position: relative;
    width: 430px;
    height: 280px;
    border: 1px solid $line_color_g;
    padding: 15px;
    margin-top: 50px;
    display: inline-block;
    vertical-align: middle;

    >h3 {
      font-size: 20px;
      padding-top: 20px;
      font-weight: bold;
      line-height: 32px;

    }

    p {
      padding: 20px 0;
      line-height: 22px;
      margin-bottom: 30px;
    }
  }
}

@mixin btn1 {
  padding: 10px 60px;
  color: $txt_color2;
  background: $txt_color3;
  line-height: 30px;
  // display: block;
}

.test_d_btn1 {
  @include btn1;
}

.test_d_btn2 {
  display: block;
  position: relative;
  top: 20px;
  color: $nav_color02;
  font-weight: 450;
}

.test_d_p {
  transform: translateY(50px);
}

.test_drive_r .test_d_p {
  transform: translateY(64px);
}

// 이벤트 & 프로모션
#event {
  text-align: center;
  background: #ccc;

  .p01 {
    font-size: $t_size_ss;
    padding-bottom: 20px;
  }

  // .event .swiper-wrapper {
  //   width: 1200px;
  //   height: 300px;
  // }
  .event {
    padding: 50px 0;
  }



  .swiper-pagination {
    // position: absolute;
    // transform: translateY(100px);
    z-index: 1000;


  }

  .swiper-pagination-bullet {
    transition: 0.5s;
    width: 16px;
    height: 16px;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    // background-color: #E41937;
    background: $txt_color3;
    width: 80px;
    // height: 10px;
    border-radius: 20px;
  }

}


//6. 구매하기
#buy {
  text-align: center;

  >.p01 {
    font-size: $t_size_m;
    line-height: 50px;
  }

  h3 {
    font-size: $t_size_t2;
    padding: 40px 0px 20px 0px;
    font-weight: bold;
  }

  .t_color {
    color: $txt_color4;
  }

  .buy_info_list {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 33.333333%);

  }

  li {
    padding-top: 50px;

    >h4 {
      font-size: 18px;
      font-weight: bold;
    }

    >img {
      width: 80px;
      padding: 15px 0;
    }

    >.p02 {
      line-height: 20px;
    }



  }

  li:last-child {
    grid-area: 3/1/4/4;

    // text-align: center;
    iframe {

      height: 560px;
    }
  }
}

#customer {
  background: $bg_color_light_g;

  >article {
    padding: 24px 0;
    width: 1200px;
    height: 260px;
    margin: 15px auto;
    background: $txt_color2;


    >h3 {
      font-size: 18px;
      text-align: center;
      padding: 60px 0px 20px 0px;
    }

    .ars_left {
      width: 50%;
      border-right: 1px solid $line_color_g;


    }

    .ars_left,
    .ars_right {
      width: 50%;
      padding: 20px 30px;
      float: left;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;

      >p {
        display: flex;
        flex-direction: column;
        line-height: 30px;
        text-align: center;
        align-items: center;

        >a {
          color: $nav_color02;
          font-weight: bold;
        }
      }

      dl {
        line-height: 24px;
      }

      dt {
        font-weight: bold;
      }
    }

    strong {
      font-weight: 500px;
      font-size: $t_size_m;
    }

    // 아이콘 배경서식
    .car_icon,
    .member_icon {
      background: url('../images/bg-support-ars.png');
      display: inline-flex;
      height: 46px;
      text-indent: -9999px;
      margin-top: 30px;
    }

    // 아이콘 크기 각각 설정, 크기지정함. 
    .car_icon {
      width: 75px;

    }

    .member_icon {
      width: 60px;
      
      background-position: -90px 0px;
      transform: translateY(-30px);
    }
  }

  .cs_etc {
    // position: relative;
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;



    li {
      position: relative;
      // border: 1px solid $line_color_g;
      background: $txt_color2;
      padding: 20px;
      height: 200px;
      // text-align: left;
      margin-bottom: 36px;

      h3 {
        font-size: 18px;
        line-height: 50px;
      }
      p{
        line-height: 20px;
      }
      >a img{
        display: block;
        margin: 0 auto;
        padding: 12px 0;
      }
    }

    li:first-of-type{
      >a:first-of-type{
        color: $nav_color02;
        line-height: 30px;
        font-weight: 500;

      }
    }
    >.btn01{
      transform: translateX(100px);
      display:inline-block;
      // margin: 0 auto;

    }
    li:last-of-type{

      .appdown{
        text-align: center;
        margin: 0 auto;
      >a{
        color: $nav_color02;
        padding-right: 10px;
        font-weight: 500;
      }
      }
    }

  }

  .ad{
    padding: 0;
    margin-bottom: 30px;
    width: 1200px;
    height: 300px;
    >h3{
      font-size: 0;
    }
  }
  
}

// 플로트 속성 해제
.clearfix {
  clear: both;
  content: '';
  display: block;
}
#customer .cs_etc .btn01{
    @include btn1;
    display: block;
    position: absolute;
    // transform: -50%;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto; 
    text-align: center;
    width: 100px;

  }